body {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 10px;
  color: var(--dark);
  line-height: 1.25;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.input-group {
  justify-content: center;
}

.weather {
  border: 1px solid white;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#icon-desc {
  font-size: 5rem;
  padding-top: 2rem;
}

#desc {
  font-size: 2rem;
}

#temperature {
  padding-top: 1rem;
  font-size: 6rem;
}

.humidity,
.wind,
.wind-degree {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 1.5rem;
}

.humidity-data,
.wind-data,
.wind-degree-data {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
}
